# Base
RUSTFS_API_PORT=14602
RUSTFS_CONSOLE_PORT=14601

# Observability
GRAFANA_PORT=14603
PGADMIN_PORT=14604
VICTORIAMETRICS_PORT=14605
OTEL_GRPC_PORT=14607
OTEL_HTTP_PORT=14608
GRAFANA_PYROSCOPE_PORT=14611

# Backend
BACKEND_PORT=14609

# Proxy
CADDY_PORT=80
