RUSTFS_VOLUMES=/data

RUSTFS_ADDRESS=0.0.0.0:9000

RUSTFS_ACCESS_KEY=access
RUSTFS_SECRET_KEY=storage-secret

RUSTFS_CONSOLE_ENABLE=true
RUSTFS_CONSOLE_ADDRESS=0.0.0.0:9001

RUSTFS_OBS_ENDPOINT=http://otel-collector:4318
RUSTFS_OBS_LOGGER_LEVEL=info

RUSTFS_REGION=local

#RUSTFS_KMS_ENABLE=true
#RUSTFS_KMS_BACKEND=vault
#RUSTFS_KMS_KEY_DIR=
#RUSTFS_KMS_VAULT_ADDRESS=
#RUSTFS_KMS_VAULT_TOKEN=
#RUSTFS_KMS_DEFAULT_KEY_ID=

# Options: GeneralPurpose, AiTraining, DataAnalytics, WebWorkload, IndustrialIoT, SecureStorage
RUSTFS_BUFFER_PROFILE=WebWorkload
