{
	log {
		output stdout
		format json
		level  INFO
	}
}

:80 {
	encode gzip zstd

	handle /grafana/* {
		reverse_proxy grafana:3000 {
			fail_duration 30s
			max_fails 10
			health_uri /api/health
			health_interval 10s
			health_timeout 2s
		}
	}

	handle {
		request_body {
			max_size 5976883
		}

		reverse_proxy backend:8080 {
			fail_duration 30s
			max_fails 10

			health_uri /actuator/health/readiness
			health_interval 10s
			health_timeout 2s
		}
	}
}

:8404 {
	metrics /metrics
	log {
		output discard
	}
}
